---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/fredericka-the-great";
import { ViewTransitions } from "astro:transitions"
import Header from "../components/Header.astro";
import AOSInitializer from "../components/AosInitializer";
---

<!doctype html>
<html
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo-dager.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col justify-center items-center content-center text-white min-h-dvh min-w-80 text-center mx-auto overflow-x-hidden"
  >
  <AOSInitializer client:load />
  <Header />
    <slot />
    <footer class="bg-black py-2 w-dvw mt-24">
      <p class="text-white">Hecho por <a class="text-[#4ADE80]" href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer">Adán Maidana</a></p>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Roboto", system-ui;
    background: #04211c;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #4ade80 black;
  }

</style>
